img[src*="#u-photo"] {
    width:200px;
 }

 img[src*="#p-photo"] {
    width:200px;
 }

 body {
    margin: 40px;
 }

.widget {
    margin-top: 80px;
}

.card-img-bottom {
    padding-bottom: 20px;
}

#best-related-universities {
    margin-top: 20px;
    margin-bottom: 20px;
}